@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --max-width-content: 1440px;

  --color-blue: #00b0ff;
  --color-blue-active: #43c5ff;
  --color-black: #2c2c2c;
  --color-gray: #9a9a9a;
  --color-stroke: #d4d4d4;
  --color-background: #f5f7fb;

  --breakpoint-*: initial;
  --breakpoint-xs: 400px;
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 976px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1440px;

  --radius-xs: 6px;
  --radius-sm: 10px;
  --radius-xl: 20px;

  /** FONT */
  --text-xs: 12px;
  --text-xs--line-height: 1.4;

  --text-sm: 14px;
  --text-sm--line-height: 1.4;

  --text-base: 16px;
  --text-base--line-height: 1.4;

  --text-lg: 18px;
  --text-lg--line-height: 1.4;

  --text-xl: 20px;
  --text-xl--line-height: 1.4;

  --text-2xl: 24px;
  --text-2xl--line-height: 1.4;

  --text-3xl: 30px;
  --text-3xl--line-height: 1.4;

  --text-4xl: 36px;
  --text-4xl--line-height: 1.4;

  --text-5xl: 40px;
  --text-5xl--line-height: 1.3;
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
}

@layer components {
  .header-mobile-btn {
    @apply flex justify-center items-center bg-background rounded-[4px] w-10 h-10;
  }
}

button {
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: var(--color-black);
  }
}

@font-face {
  font-family: "Manrope";
  src: url("/fonts/Manrope-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("/fonts/Manrope-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("/fonts/Manrope-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("/fonts/Manrope-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("/fonts/Manrope-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("/fonts/Manrope-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("/fonts/Manrope-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("/fonts/Manrope-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Manrope, sans-serif;
}
